body {
	margin: 0; 
	padding: 0; 

}

.header {
	min-height: 150px; 
	border-bottom: 1px solid #ddd; 
}

.main-container {
	box-shadow: 1px 1px 1px #ccc; 
}

.main-content {
	min-height: 600px; 

}



.content {
	min-height: 500px; 
}

.sidebar {
	min-height: 500px; 
	border-right: 1px solid #ddd; 

}

.sidebar ul {
	list-style: none;
	margin:0;
	padding:0;
}
.sidebar ul li  ul {
	padding-left:20px;
}
.sidebar ul li {
	margin:0;
	padding:0;
}
.sidebar ul li a {
	padding:10px 5px;
	display: block;
	margin:0;
	font-size:18px;
	-webkit-transition: all 0.3s   linear 0s;
	-moz-transition: all 0.3s0.3s linear 0s;
	-ms-transition: all 0.3s0.3s linear 0s;
	-o-transition: all 0.3s0.3s linear 0s;
	transition: all 0.3s0.3s linear 0s;
}
.sidebar ul li li a {
	font-size: 16px;
}
.sidebar ul li a:hover {
	background: #dfdfdf;

}
.footer {
	border-top: 1px solid #ddd;
	min-height: 100px;
}